In [1]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.utils import check_random_state
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./dataset.csv')

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sn1           30000 non-null  float64
 1   Sn2           30000 non-null  float64
 2   Sn3           30000 non-null  float64
 3   Sn4           30000 non-null  float64
 4   Sn5           30000 non-null  float64
 5   Sn6           30000 non-null  float64
 6   Sn7           30000 non-null  float64
 7   Sn8           30000 non-null  float64
 8   Sn9           30000 non-null  float64
 9   Sn10          30000 non-null  float64
 10  Tt            30000 non-null  float64
 11  dloc          30000 non-null  int64
 12  ED            30000 non-null  int64
 13  overload_loc  30000 non-null  int64
dtypes: float64(11), int64(3)
memory usage: 3.2 MB

,Sn1,Sn2,Sn3,Sn4,Sn5,Sn6,Sn7,Sn8,Sn9,Sn10,Tt,dloc,ED,overload_loc
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000
mean,-0.000120,0.000085,0.000230,0.000091,-0.000151,0.000348,0.000143,-0.000044,0.000167,0.000409,30.000000,50.500000,4.500000,0.02740
std,0.000095,0.000035,0.000192,0.000033,0.000068,0.000152,0.000077,0.000067,0.000050,0.000109,7.071186,28.866551,2.872329,0.24749
min,-0.002055,-0.000615,-0.001761,-0.000549,-0.002005,-0.000797,-0.001183,-0.001795,-0.000461,0.000217,20.054781,1.000000,0.000000,0.00000
25%,-0.000172,0.000062,0.000168,0.000066,-0.000187,0.000259,0.000108,-0.000066,0.000124,0.000295,22.568552,25.750000,2.000000,0.00000
50%,-0.000123,0.000085,0.000248,0.000092,-0.000149,0.000351,0.000147,-0.000046,0.000166,0.000408,30.000000,50.500000,4.500000,0.00000
75%,-0.000089,0.000106,0.000358,0.000117,-0.000109,0.000469,0.000199,-0.000031,0.000212,0.000520,37.431448,75.250000,7.000000,0.00000
max,0.000697,0.000309,0.000890,0.000280,0.000037,0.001071,0.000306,0.000398,0.000298,0.001048,39.945219,100.000000,9.000000,3.00000

In [4]:
df.head()

,Sn1,Sn2,Sn3,Sn4,Sn5,Sn6,Sn7,Sn8,Sn9,Sn10,Tt,dloc,ED,overload_loc
0,-0.000069,0.000098,0.000146,0.000096,-0.000158,0.000307,0.000125,-0.000023,0.000186,0.000440,32.079117,1,0,0
1,-0.000082,0.000095,0.000216,0.000105,-0.000171,0.000349,0.000157,-0.000040,0.000194,0.000470,34.067366,1,0,0
2,-0.000093,0.000101,0.000239,0.000112,-0.000180,0.000377,0.000169,-0.000045,0.000205,0.000497,35.877853,1,0,0
3,-0.000197,0.000100,0.000402,0.000121,-0.000190,0.000518,0.000221,-0.000077,0.000210,0.000521,37.431448,1,0,0
4,-0.000204,0.000104,0.000418,0.000125,-0.000197,0.000537,0.000229,-0.000080,0.000217,0.000539,38.660254,1,0,0

In [5]:
random_state = check_random_state(0)
permutation = random_state.permutation(df.shape[0])
df = df.iloc[permutation, :]

x = df.iloc[:, list(range(11))].copy().values
y_dloc = df['dloc'].copy().values
y_ed = df['ED'].copy().values
y_ed = df['overload_loc'].copy().values

In [6]:
TEST_SIZE = 0.1

x_train, x_test, y_train, y_test = train_test_split(x, y_dloc, test_size=TEST_SIZE)
print(x_train.shape)
print(x_test.shape)

(27000, 11)
(3000, 11)

In [7]:
clf = LogisticRegressionCV(penalty='l2', solver='sag', tol=0.001, multi_class='multinomial', max_iter=10000)

In [ ]:
clf.fit(x_train, y_train)

In [ ]:
score = clf.score(x_test, y_test)
print(score)